<footer class="footer">
    <div class="container">
        <div>
            <h2>You can also reach out</h2>
            <i class="fas fa-phone"> Call: 9828899354, 01-4315955</i>
            <i class="fas fa-at"> Email: girirobin2018@gmail.com</i>
        </div>
        <div>
            <h2>Address</h2>
            <i class="fas fa-map-marker-alt">Kathmandu, Nepal</i>
        </div>
        <div>
            <h2>I'm also in</h2>
            <a href="https://twitter.com">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
            <a href="https://facebook.com">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="https://youtube.com">
                <i class="fab fa-youtube fa-2x"></i>
            </a>
            <a href="https://github.com/robinGiri">
                <i class="fab fa-github-square fa-2x"></i>
            </a>
        </div>
    </div>
</footer>
