<footer class="footer">
    <div class="container">
        <div>
            <h2>Blog</h2>
<ul>
    <li>Lorem ipsum dolor, sit amet.</li>
    <li>Debitis maiores iste excepturi.</li>
    <li>Lorem ipsum, dolor sit amet.</li>
    <li>Autem, sed officiis harum.</li>
</ul>
        </div>
        <div>
            <img src="assets/img/94101.jpg" alt="Avatar" style="width:190px">
        </div>
        <div>
            <h2>I'm also in</h2>
            <a href="https://linkedin.com">
                <i class="fab fa-linkedin fa-2x"></i>
            </a>
            <a href="https://twitter.com">
                <i class="fab fa-twitter fa-2x"></i>
            </a>
            <a href="https://facebook.com">
                <i class="fab fa-facebook fa-2x"></i>
            </a>
            <a href="https://youtube.com">
                <i class="fab fa-youtube fa-2x"></i>
            </a>
            <a href="https://github.com/robinGiri">
                <i class="fab fa-github-square fa-2x"></i>
            </a>
            <br>
            <i class="fas fa-at"> Email: girirobin2018@gmail.com</i>
            <br>
            <i class="fas fa-map-marker-alt">Kathmandu, Nepal</i>
        </div>
    </div>
</footer>
