 .footer {
    background: #2e2e2e ;
    color: var(--mainWhite);
    padding: 2rem 1rem;
    letter-spacing: var(--mainSpacing);
 }

 .footer .container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 1.7rem auto;
    grid-gap: 1rem;
  }

 .footer h2 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
  }

 .footer a > i {
    color: #555;
    margin-right: 0.5;
 }
 @media screen and (min-width: 576px) {
    .footer .container {
      padding: 2rem 3rem;
    }
    .footer h1 {
      font-size: 1.5rem;
    }
  }
  @media screen and (max-width: 992px) {
    .footer .container {
        padding: 2rem 3rem;
        grid-template-columns: repeat(1, 1fr);
    }
    .footer h2 {
      font-size: 1rem;
    }
  }
