<section class="contact">
        <h1>Get in touch</h1>
        <div></div>
        <form [formGroup]="editForm" (ngSubmit)="onSubmit()" class="contact-form">

            <label for="name">Name</label>
            <input class="input-field" type="text" name="name" formControlName="name">
            <span class="invalid-feedback" *ngIf="(editForm.get('name').touched || editForm.get('name').dirty) && editForm.get('name').invalid">
                Name is required
            </span>

            <label>Subject</label>
            <input class="input-field" type="text" name="subject" formControlName="subject">
            <span class="invalid-feedback" *ngIf="(editForm.get('subject').touched || editForm.get('subject').dirty) && editForm.get('subject').invalid">
                Subject is required
            </span>

            <label for="email">E-mail</label>
            <input class="input-field" type="email" name="email" id="email" formControlName="email">
            <span class="invalid-feedback" *ngIf="(editForm.get('email').touched || editForm.get('email').dirty) && editForm.get('email').invalid">
                E-mail is required
            </span>

            <label for="message">Message</label>
            <textarea class="input-field" name="message" id="message" formControlName="message"></textarea>
            <span class="invalid-feedback" *ngIf="(editForm.get('message').touched || editForm.get('message').dirty) && editForm.get('message').invalid">
                Message is required
            </span>

            <input class="button" type="submit" value="submit">
        </form>
  </section>
