<section class="contact">
        <h1>Get in touch</h1>
        <div></div>
        <form action="POST" class="contact-form">
            <label for="name">Name</label>
            <input class="input-field" type="text" name="name">
            <label>Subject</label>
            <input class="input-field" type="text" name="subject">
            <label for="email">E-mail</label>
            <input class="input-field" type="email" name="email" id="email">
            <label for="message">Message</label>
            <textarea class="input-field" name="message" id="message"></textarea>
            <input class="button" type="button" value="submit">
        </form>
  </section>
