<section id="wrapper" class="skewed">
    <div class="layer bottom">
      <div class="content-wrap">
        <div class="content-body">
          <h1>Music & Traveling</h1>
          <p>I listern to a lot of music speciall rock and blues.I also love visiting new places and knowing new culture.</p>
        </div>
        <img src="assets/img/split.jpg" alt="">
      </div>
    </div>

    <div class="layer top">
        <div class="content-wrap">
          <div class="content-body">
            <h1>Programming & mathematics</h1>
            <p>I am passinate about programming and desin. I also love mathematics and solving problems.</p>
          </div>
          <img src="assets/img/splitse.jpg" alt="">
        </div>
      </div>

      <div class="handle"></div>
