<div class="services">
    <h2>Services</h2>
    <div></div>
    <article>
      <ul class="services-box">
        <li class="header">Simple sites</li>
        <li class="emph"></li>
        <li>Strong understanding of HTML & CSS </li>
        <li>Strong knowledge in HTML5 & CSS3</li>
        <li>Can convert Design to templates</li>
        <li class="emph"></li>
      </ul>
    </article>
  
    <article>
      <ul class="services-box best">
        <li class="header">Web Appications</li>
        <li class="emph"></li>
        <li>Good understanding of JavaScript</li>
        <li>Soung knowledge of es6 and above</li>
        <li>Used TypeScript in Angular Framework</li>
        <li class="emph"></li>
      </ul>
    </article>
  
    <article>
      <ul class="services-box">
        <li class="header">Mobile Appications</li>
        <li class="emph"></li>
        <li>Good understanding Dart language</li>
        <li>Learning core concept</li>
        <li>Building both Android and IOS with Flutter Framework </li>
        <li class="emph"></li>
      </ul>
    </article>
</div>