<div class="services">
    <h2>Services</h2>
    <div></div>
    <article>
      <ul class="services-box">
        <li class="header">Front End</li>
        <li class="emph"></li>
        <li>Use HTML5 & CSS3 concepts</li>
        <li>Good understanding of SCSS</li>
        <li>Use TypeScript in Angular Framework</li>
        <li>Use JavaScript in React Framework</li>
        <li class="emph"></li>
      </ul>
    </article>
  
    <article>
      <ul class="services-box best">
        <li class="header">Back End</li>
        <li class="emph"></li>
        <li>Strong knowledge of PHP language</li>
        <li>Use PHP in Yii & Yii2 Framework</li>
        <li>Build a REST API using Yii2 Framework</li>
        <li>Use concept of MVC Framework</li>
        <li class="emph"></li>
      </ul>
    </article>
  
    <article>
      <ul class="services-box">
        <li class="header">Mobile Appications</li>
        <li class="emph"></li>
        <li>Good understanding Dart language</li>
        <li>Learning core concept</li>
        <li>Building both Android and IOS with Flutter Framework </li>
        <li>Deploy Apps in App Store </li>
        <li class="emph"></li>
      </ul>
    </article>
</div>